  <header2>
  <section class="header-content">
    <h1 class="header-title animate-pop-in">Welcome to Startup Idea Factory</h1>
    <h5 class="header-subtitle animate-pop-in">Crowdsourcing innovative ideas</h5>
    <p class="sign-up header-button animate-pop-in"><a href="/users/new" class="button">Click here to sign up</a></p>
  </section>
</header2>