.navbar-light .navbar-nav .nav-link {
    font-size: 25px;
}

.form-inline{
    font-size: 25px;

}

.sign-in-up{
    font-size: 30px;
    padding: 20px;
}

.idea-title{
    font-size: 20px;
    color: black;
    padding: 20px;
    padding-bottom: 0px;
    font-weight: bold;
}

.idea-title a {
    font-size: 20px;
    color: black
}

.idea-body{
    font-size: 18.5px;
    padding: 20px;
}

li {
    list-style-type: none;
}

form{

padding: 20px;
}

.idea-edit-delete{
    padding-left: 20px
}

.comment-list{
    padding-left: 20px
}

.brand{
    color: white
}

.article-contents{
    padding-top: 25px;

}

.navbar .navbar-nav .nav-link{
    font-size: 20px;
}

 .form-inline{
    font-size: 20px;
    color: white;
}



.bg-light {
    background-color: grey
}

.navbar-nav a:hover  { color: #fff !important; }
.navbar-nav a  { color: #fff !important; }

.sign-up a:hover  { color: #fff !important; }
.sign-up a  { color: #fff !important; }

 .container{
     border: black;
 }

 .idea-card{
     padding-bottom: 10px
 }

 header{
     padding: 10px;
     background-color: grey
 }

 
