.navbar-light .navbar-nav .nav-link {
    font-size: 25px;
}

.form-inline{
    font-size: 25px;

}

.sign-in-up{
    font-size: 30px;
    padding: 20px;
}

.idea-title{
    font-size: 25px;
    color: black;
    padding: 20px;
    padding-bottom: 0px;
    font-weight: bold;
}

.idea-title a {
    font-size: 25px;
    color: black
}

.idea-body{
    font-size: 18.5px;
    padding: 20px;
}

li {
    list-style-type: none;
}

form{

padding: 20px;
}

.idea-edit-delete{
    padding-left: 20px
}

.comment-list{
    padding-left: 20px
}